PORT=3000

NODE_ENV=development

DB_NAME=lms
MONGO_URI=mongodb://localhost:27017

GUEST_ID=67e82912d070acf442978050

ACCESS_TOKEN_SECRET=rSN1HQh7t2A
ACCESS_TOKEN_EXPIRE=30m

REFRESH_TOKEN_SECRET=RsXnC3F433vyXQ
REFRESH_TOKEN_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dznnqy9yz
CLOUDINARY_API_KEY=323164317152431
CLOUDINARY_SECRET_KEY=rSN1HUQh9f2ARsXnC3F4E33vyXQ
CLOUDINARY_IMAGE_MODERATION=aws_rek

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=lms.backend.subhranil@gmail.com
SMTP_PASSWORD=tdfk gmes znxk ohty

RAZORPAY_KEY_ID=rzp_test_tk0UtTaEIBKyKL
RAZORPAY_SECRET=XJqhW3P8DvUcfmHWf6nWG8Er
RAZORPAY_PLAN_ID=plan_QCIbcbOa3QXsGT
RAZORPAY_PLAN_DURATION_IN_DAYS=30

ADMIN_EMAIL=subhranil@gmail.com

FRONTEND_URL=http://localhost:5173